<h1> Inscription</h1>

<p>{{ errorMessage }}</p>

<div>
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">

        <div>
            <label for="email">Email : </label>
            <input type="email" formControlName="email" id="email">
        </div>
    
        <div>
            <label for="password">Mot de passe : </label>
            <input type="password" formControlName="password" id="password">
        </div>

        <button type="submit" [disabled]="signupForm.invalid" >S'inscrire</button>
    </form>
</div>
