<div>
    <form [formGroup]="eleveForm" (ngSubmit)="onSubmitForm()" >

        <div>
            <label for="firstName">Prénom : </label>
            <input type="text" id="firstName" formControlName="firstName">
        </div>

        <div>
            <label for="lastName">Nom : </label>
            <input type="text" id="lastName" formControlName="lastName">
        </div>

        <div>
            <label for="select">Choisir un numéro de classe</label>
            <select formControlName="classe_d_ecole" id="select" >
                <option *ngFor="let classe of classeDEcoles" [ngValue]="classe._id">{{classe.numeroClasse}}</option>
            </select>
        </div>

        <button type="submit" class="" [disabled]="eleveForm.invalid">Soumettre</button>
    </form>
</div>
