<div>
    <h1>Eleve </h1>

    <div>
        <h2>{{ eleve?.firstName }} {{ eleve?.lastName }}</h2>
        <p>Moyenne générale : {{ eleve?.moyenne }}/20</p>
        <p>Numéro de sa classe : {{ eleve?.classe_d_ecole?.numeroClasse }}</p>
        <p>Moyenne générale de sa classe : {{ eleve?.classe_d_ecole?.moyenneClasse }}/20 </p>

        <div>
            <p>Liste de notes</p>

            <ul>
                <li *ngFor="let devoir_eleve of eleve?.devoir_eleves"> {{ devoir_eleve?.note }} </li>
            </ul>
        </div>

        <div>
            <button (click)="onGetUpdateEleve(eleve._id)" >Modifier</button>
            <button (click)="onDeleteEleve()" >Suprimer</button>
        </div>
        
    </div>
</div>
